<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
    <meta http-equiv="cleartype" content="on">
    <meta content="telephone=no" name="format-detection" />
    <script type="text/javascript">
    (function(doc, win) {
        var docEl = doc.documentElement;
        (function() {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) {
                return;
            }
            docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        }());
    })(document, window);
</script>
    <link rel="dns-prefetch" href="//cdn.yoho.cn">
    <link rel="dns-prefetch" href="//static.yohobuy.com">
    <link rel="dns-prefetch" href="//img12.static.yhbimg.com">
    <link rel="dns-prefetch" href="//img13.static.yhbimg.com">
    <!--
    <link rel="stylesheet" href="http://cdn.yoho.cn/myohobuy/{{version}}/index.css">
    -->
    <link rel="stylesheet" href="http://cdn.yoho.cn/app-webview/{{version}}/index.css">

    <link rel="apple-touch-icon-precomposed" href="http://static.yohobuy.com/m/v1/img/touch/apple-touch-icon-144x144-precomposed-new.png">
    <link rel="apple-touch-startup-image" sizes="640x920" href="http://static.yohobuy.com/m/v1/img/startup/startup-retina.png" media="screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" sizes="320x460" href="http://static.yohobuy.com/m/v1/img/startup/startup.png" media="screen and (max-device-width: 320)">
    <!--<link rel="stylesheet" href="../static_app/index.css">
    <link rel="stylesheet" href="../static_app/swiper.css">-->
</head>
<body>

<div class="good-detail-page yoho-page">
    <div id="app-detail" class="hide">
        <div id="productDesc">
            {{#goodsDescription}}
            <div class="goods-desc  page-block">
                <div class="service"></div>
                <h1 class="title">
                    {{title}}
                    <span class="en-title">{{enTitle}}</span>
                </h1>
                {{#detail}}
                <div class="detail table">
                    {{#list}}
                    <div class="column">{{param}}</div>
                    {{/list}}
                </div>
                {{/detail}}
                {{#if desc}}
                <div class="desc-text">{{desc}}</div>
                {{/if}}
            </div>

            {{/goodsDescription}}

            {{#sizeInfo}}
            <div class="size-info  page-block">
                <h1 class="title">
                    {{title}}
                    <span class="en-title">{{enTitle}}</span>
                </h1>
                {{#detail}}
                <div class="detail">
                    <div class="swiper-container detail-swiper" id="size-swiper-container">
                        <div class="swiper-wrapper">
                            {{#list}}
                            <div class="swiper-slide " >
                                {{#params}}
                                <div class="cell">{{param}}</div>
                                {{/params}}
                            </div>
                            {{/list}}
                        </div>
                    </div>
                    <p class="tips">提示：左滑查看完整表格信息</p>
                </div>
                {{/detail}}
            </div>
            {{/sizeInfo}}

            {{#measurementMethod}}
            <div class="measurement-method  page-block">
                <h1 class="title">
                    {{title}}
                    <span class="en-title">{{enTitle}}</span>
                </h1>
                <div class="detail" style="width:100%">
                    <img class="img" src="{{img}}" alt="">
                </div>
            </div>
            {{/measurementMethod}}

            {{#reference}}
            <div class="size-info  page-block">
                <h1 class="title">
                    {{title}}
                    <span class="en-title">{{enTitle}}</span>
                </h1>
                {{#detail}}
                <div class="detail">
                    <div class="swiper-container detail-swiper" id="reference-swiper-container">
                        <div class="swiper-wrapper">
                            {{#list}}
                            {{#if @first}}
                            <div class="swiper-slide first-group" >
                                {{#params}}
                                {{#if @first}}
                                {{else}}
                                <div>
                                    <img class="avatar" src="{{param}}" alt="">
                                </div>
                                {{/if}}
                                {{/params}}
                            </div>
                            {{else}}
                            <div class="swiper-slide" >
                                {{#params}}
                                <div class=" cell">{{param}}</div>
                                {{/params}}
                            </div>
                            {{/if}}
                            {{/list}}
                        </div>
                    </div>
                    <p class="tips">提示:左滑查看完整表格信息</p>
                </div>
                {{/detail}}
            </div>
            {{/reference}}

            {{#materials}}
            <div class="materials  page-block">
                <h1 class="title">
                    {{title}}
                    <span class="en-title">{{enTitle}}</span>
                </h1>
                <div class="detail">
                    {{#list}}
                    <div class="material-item">
                        <!-- <img class="img" src="{{img}}" alt="">
                         <p class="material-desc">
                             {{desc}}
                         </p>-->
                        <div class="material-image">
                            <img src="{{img}}" alt="材质图">
                        </div>
                        <div class="material-desc">
                            {{desc}}
                        </div>
                    </div>
                    {{/list}}
                </div>
            </div>
            {{/materials}}

            {{#washTips}}
            <div class="wash-tips page-block">
                <div class="detail table clearfix">
                    {{#list}}
                    <div class="tip">
                        <img src="{{img}}" alt="">
                        <span class="caption">{{caption}}</span>
                    </div>
                    {{/list}}
                </div>
            </div>
            {{/washTips}}

            {{#productDetail}}
            <div class="product-detail page-block">
                <h1 class="title">
                    {{{title}}}
                    <span class="en-title">{{{enTitle}}}</span>
                </h1>
                <div class="pro-detail">
                    <p>{{{desc}}}</p>
                    {{#list}}
                    <img class="img" src="{{img}}" alt="">
                    {{/list}}
                </div>
            </div>
            {{/productDetail}}
        </div>
        <div class="recommend-for-you hide">
            <div class="title">为您优选新品</div>
            <div id="swiper-recommend" class="swiper-container">
                <div class="swiper-wrapper swiper-wrapper-recommend">

                </div>
            </div>
        </div>
    </div>
    {{#if preferenceUrl}}
    <input id="preferenceUrl" type="hidden" value="{{{preferenceUrl}}}">
    {{/if}}
</div>
<script src="http://cdn.yoho.cn/app-webview/{{version}}/lib.js"></script>
<script src="http://cdn.yoho.cn/app-webview/{{version}}/index.js"></script>
<script>
    seajs.use('js/product/detail/detail-app');
</script>
</body>
</html>
